^{:watch-dirs ["test" "src"]
  :open-url false
  :connect-url "wss://[[client-hostname]]/figwheel-connect"
  :css-dirs ["resources/public/css"]
  :auto-testing true
  :auto-bundle :webpack }
{:main rapid7.xspm-ui}
